@import "https://unpkg.com/open-props";

.create-form{
    width: 30%;
    height: 70%;
    margin-left: auto;
    padding: 0 20px 70px 20px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #373737;
    border-radius: 7px;
    border: double 10px #959494;

}
.create-h2{
    margin-top: 50px;
}

.App {
    margin: 50px 0;
    text-align: center;
}
.App label{
    display: flex;
    margin: 3px auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.inputfield{
    width: 100%;
    border-radius: 5px;
    border-color: #4d4d4d;
    padding: 10px;
    margin: 10px 0;
    background-color: #2a2a2a;
    color: #ffffff;
}

.tooltip {
    background-color: #ff9999;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1vw;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    margin-top: -90px;
    z-index: 1;
}

.disabled {
    cursor: not-allowed;
}

.tooltip-button:hover + .tooltip {
    opacity: 1;
    visibility: visible;
}


.create-button{
    width: 40%;
    text-justify: auto;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #db6b34;
    color: white;
    cursor: pointer;
    /*box-shadow: #cd7040 0 0 10px;*/
    align-self: flex-end;
    margin: 40px 0 0 0;
}
.create-text{
    color: white;
    font-size: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tooltip-button .disabled {
    cursor: not-allowed;
}



