{
  "openapi": "3.0.3",
  "info": {
    "title": "",
    "version": "",
    "description":
  ""
  },
  "servers": [
    {
      "url": "https://api.datavortex.nl/testapp"
    },
    {
      "url": ""
    }
  ],
  "tags": [
    {
      "name": "Application",
      "description": "Opperations to manage the application"
    },
    {
      "name": "Users",
      "description": "Operations related to user management"
    },
    {
      "name": "Photos",
      "description": "Operations related to photo upload and retrieval"
    }
  ],
  "components": {
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/info": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get application information",
        "operationId": "getApplicationInfo",
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Application information: "
          }
        }
      },
      "put": {
        "tags": [
          "Application"
        ],
        "summary": "Update application information",
        "operationId": "updateApplicationInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "info": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application information updated successfully",
            "x-code-samples": {
              "application/json": {
                "value": {
                  "message": "Application information updated successfully"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new user",
        "operationId": "createUser",
        "security": [
          {
            "X-Api-Key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "testuser"
                  },
                  "email": {
                    "type": "string",
                    "example": "testuser@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "testpassword"
                  },
                  "info": {
                    "type": "string",
                    "example": "testinfo"
                  },
                  "authorities": {
                    "type": "array",
                    "items": {
                      "type": "object",
                        "properties": {
                            "authority": {
                            "type": "string",
                            "example": "USER"
                            }
                        }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully"
          }
        }
      }
    },
    "/users/{username}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user  by username",
        "operationId": "getUserByUsername",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
                "example": "testuser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user information by username",
        "operationId": "updateUserByUsername",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "info": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User information updated successfully"
          }
        }
      }
    },
    "/users/{username}/info": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user information by username",
        "operationId": "getUserInfoByUsername",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
                "example": "testuser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully"
          }
        }
      }
    },
    "/users/authenticate": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Authenticate and get JWT token",
        "operationId": "authenticateUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "testuser"
                  },
                  "password": {
                    "type": "string",
                    "example": "testpassword"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT token received"
          }
        }
      }
    },
    "/users/{username}/upload": {
      "post": {
        "tags": [
          "Photos"
        ],
        "summary": "Upload a photo for a user",
        "operationId": "uploadPhotoByUsername",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "jpeg/png"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo uploaded successfully"
          }
        }
      }
    },
    "/users/{username}/download": {
      "get": {
        "tags": [
          "Photos"
        ],
        "summary": "Download a user's photo",
        "operationId": "downloadPhotoByUsername",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "testuser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Photo downloaded successfully"
          }
        }
      }
    }
  }
}


